# ==========================================
# Variables de entorno - Mercado Inventario
# ==========================================

# ---- PostgreSQL ----
DB_HOST=postgres
DB_PORT=5432
DB_NAME=mercado_quevedo
DB_USER=postgres
DB_PASSWORD=P123

# ---- Redis ----
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# ---- JWT ----
JWT_SECRET=c3VwZXItc2VjcmV0LWtleS1wYXJhLWVsLW1lcmNhZG8tbXVuaWNpcGFsLWRlLXF1ZXZlZG8tMjAyNi1jYW1iaWFyLWVuLXByb2R1Y2Npb24=
JWT_EXPIRATION_MS=3600000
JWT_REFRESH_EXPIRATION_MS=86400000

# ---- App ----
SERVER_PORT=8080
